body{
  max-width: 1290px;
  margin: auto;
  background-color: #fff;
}
.pokemonHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  background: #EBA000;
  border-radius: 16px;
  padding: 12px 16px;
  margin-top: 24px;

  img{
      width: 153.76px;
      height: 56px;
  }
}
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 324px;
  height: 56px;
  border: 1px solid #0B213F;
  border-radius: 16px;

  .pokemonList,
  .myPokemons {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 152px;
    height: 48px;
    background: transparent;
    border: none;
    border-radius: 12px;
    color: #FFFFFF;
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: all 0.2s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &.active {
      background: #0B213F;
    }
  }
}

.cardPokemon{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  div{
      margin: 24px 32px ;
      padding: 16px 32px 24px;
      width: 300px;
      height: 312px;
      border: 1px solid #C6C5C9;
      border-radius: 16px;

      img{
         transform: scale(1.5);
      }
  }
}
.pokemonFooter{
  display: flex;
  justify-content: center;
  height: 60px;
}

.buttonContainerFooter{
  display: flex;
  justify-content: space-evenly;
  width: 20%;

  button{
      width: 83px;
      height: 48px;
      border: none;
      border-radius: 12px;
      padding: 12px 24px;

      &:hover {
          cursor: pointer;
      }

      &.active {
          background: #EBA000;
      }
  }
}

// Popup вікно 
.popup {
  width: 100% !important;
  height: 100% !important;
  position: fixed;
  left: -37px;
  top: -34px;
  
  background: rgba(0, 0, 0, 0.3);


  &--open {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .popup__content {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      overflow: auto;
      position: relative;
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      width: 688px;
      height: 666px;
    }
    
    .popup__table {
      width: 100%;
      border-collapse: collapse;
      display: flex;
      justify-content: right;
      flex-direction: column;
    
      tr {
        display: flex;
        border-bottom: 1px solid #C6C5C9;
        padding: 0.5rem;
        font-weight: bold;
      }
    }
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    color: #EBA000;
    background: #EEEDF0;
    border-radius: 12px;
    padding: 12px;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
.valuePokemonTd{
  font-weight: normal;
}
.pokemonDetails{
  border: none !important;
  padding: 0 !important;
  margin: 0 32px !important;
}

// 


@media (max-width: 480px), (max-width: 768px) {
  .pokemonHeader {
    flex-direction: column;
    height: auto;
    padding: 12px;
    margin-top: 16px;

    img {
      margin-bottom: 16px;
    }
  }

  .buttonContainer {
    margin-top: 16px;
    width: 100%;

    .pokemonList,
    .myPokemons {
      width: 100%;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .cardPokemon{
    display: flex;
    flex-direction: column;
    align-items: center;

    div{
      margin: 16px 0;
      width: 100%;
      max-width: 300px;
      height: auto;
      
    }
  }
  .pokemonFooter {
    margin-top: 16px;
  }

  .buttonContainerFooter{
    width: 100%;

    button{
      width: 100%;
      margin-right: 8px;

       &:last-child {
        margin-right: 0;
      }
    }
  }
}
